:root {
  --main: #0e46a3;
  --main-lighter: #9ac8cd;
  --main-very-lighter: #e1f7f5;
  --main-darker: #1e0342;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 800px;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.btns {
  display: flex;
  width: max-content;
  margin: 0 auto;
  gap: 15px;
}
